{% extends "base.html" %}
{% block content %}

<div class="jumbotron" id="about-background">
    <h1>WELCOME</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ea eius enim esse exercitationem ipsa modi nisi quia reprehenderit repudiandae. </p>
</div><br>

<div class="container" id="about-page">
    <img class="card-img" src="{{url_for('static', filename='background/about-img.jpeg')}}" id="about-img1">
    <div class="container" id="about-text">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ea eius enim esse exercitationem ipsa modi nisi quia reprehenderit repudiandae. Exercitationem illum modi numquam officia, pariatur totam vero voluptates voluptatibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam blanditiis, debitis dolor doloremque ea illum iste iure laboriosam nam, pariatur, perferendis voluptatibus! Adipisci aliquam libero quam veniam vero voluptas!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi quod, repudiandae. Accusamus beatae dicta eos excepturi expedita explicabo, facere molestiae molestias mollitia necessitatibus obcaecati, placeat quia reprehenderit soluta tempora vitae?</p>
    </div>
</div><br>

<div class="container" id="text-about">
    <div class="container">
        <h1>Why Choose Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet aut cumque delectus dicta dignissimos dolorem est id nam, nostrum nulla officia officiis perferendis possimus qui sunt suscipit unde, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam beatae est iusto nam necessitatibus optio quidem sapiente. Accusantium alias aliquam dolore ipsa modi molestiae praesentium rem. Eos, iure, repellendus?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias architecto ex nesciunt non quisquam sit veniam voluptas voluptatibus. A aspernatur debitis doloremque dolores dolorum ex fugit quod totam voluptate.</p>
    </div>
</div><br>

{% endblock %}