{% extends "base.html" %}
{% block content %}

<div class="jumbotron" id="register-jumbotron">
    <div class="container">
        <br><div class="card" id="register-card">
            <div class="card-body" id="register-card-body">
                <form method="POST">
                    <h3 class="title"><span>───</span> REGISTER <span>───</span></h3>
                    {{form.hidden_tag()}}

                    {{form.email.label()}}<br>
                    <i class="fa fa-envelope"></i>
                    {{form.email(placeholder=" Email address", id="register-email")}}<br>
                    {% for error in form.email.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}

                    {{form.username.label()}}<br>
                    <i class="fa fa-user"></i>
                    {{form.username(placeholder=" Username", id="register-username")}}<br>
                    {% for error in form.username.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}

                    {{form.password.label()}}<br>
                    <i class="fa fa-lock"></i>
                    {{form.password(placeholder=" Password", id="register-password")}}<br>
                    {% for error in form.password.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}

                    {{form.confirm_password.label()}}<br>
                    <i class="fa fa-lock"></i>
                    {{form.confirm_password(placeholder=" Confirm password", id="register-confirm_password")}}<br>
                    {% for error in form.confirm_password.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}<br>

                    {{form.submit(id="register-submit")}}
                </form><br>

                <p>Already have an account?<a class="nav-link d-md-inline" href="{{ url_for('users.login') }}" id="reglog-link">Login</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}